<div style="font-size:20px; font-weight: bold; margin-bottom:7px;">Kwoty</div>
Należności na rzecz wierzyciela
<div class="table100 ver2 m-b-110">
    <table data-vertable="ver2" border="0" cellspacing="0">
        <thead>
            <tr class="row100 head">
                <th class="column100 column1" data-column="column1">Typ kwoty</th>
                <th class="column100 column2" data-column="column2">Kwota</th>
                <th class="column100 column3" data-column="column3">Odsetki</th>
                <th class="column100 column4" data-column="column4">Spłaty</th>
            </tr>
        </thead>
        <tbody>
            <tr class="row100">
                <td class="column100 column1" data-column="column1">Koszty poprzednej egzekucji</td>
                <td class="column100 column2" data-column="column2"></td>
                <td class="column100 column3" data-column="column3"></td>
                <td class="column100 column4" data-column="column4"></td>
            </tr>
            <tr class="row100">
                <td class="column100 column1" data-column="column1">Należność główna</td>
                <td class="column100 column2" data-column="column2">3500.00</td>
                <td class="column100 column3" data-column="column3">105.48</td>
                <td class="column100 column4" data-column="column4"></td>
            </tr>
            <tr class="row100">
                <td class="column100 column1" data-column="column1">Należność spłacona</td>
                <td class="column100 column2" data-column="column2"></td>
                <td class="column100 column3" data-column="column3"></td>
                <td class="column100 column4" data-column="column4"></td>
            </tr>
            <tr class="row100">
                <td class="column100 column1" data-column="column1">Odsetki zaległe</td>
                <td class="column100 column2" data-column="column2"></td>
                <td class="column100 column3" data-column="column3"></td>
                <td class="column100 column4" data-column="column4"></td>
            </tr>
            <tr class="row100">
                <td class="column100 column1" data-column="column1">Koszt procesu</td>
                <td class="column100 column2" data-column="column2">150.00</td>
                <td class="column100 column3" data-column="column3"></td>
                <td class="column100 column4" data-column="column4"></td>
            </tr>
            <tr class="row100">
                <td class="column100 column1" data-column="column1">Koszt kaluzuli</td>
                <td class="column100 column2" data-column="column2"></td>
                <td class="column100 column3" data-column="column3"></td>
                <td class="column100 column4" data-column="column4"></td>
            </tr>
            <tr class="row100">
                <td class="column100 column1" data-column="column1">Koszty zastępstwa w procesie</td>
                <td class="column100 column2" data-column="column2">1200.00</td>
                <td class="column100 column3" data-column="column3"></td>
                <td class="column100 column4" data-column="column4"></td>
            </tr>
            <tr class="row100">
                <td class="column100 column1" data-column="column1">Koszty zastępstwa w egzekucji</td>
                <td class="column100 column2" data-column="column2">300.00</td>
                <td class="column100 column3" data-column="column3"></td>
                <td class="column100 column4" data-column="column4"></td>
            </tr>
            <tr class="row100">
                <td class="column100 column1" data-column="column1">Koszty inne</td>
                <td class="column100 column2" data-column="column2"></td>
                <td class="column100 column3" data-column="column3"></td>
                <td class="column100 column4" data-column="column4"></td>
            </tr>
            <tr class="row100">
                <td class="column100 column1" data-column="column1">Kwota zabezpieczenia</td>
                <td class="column100 column2" data-column="column2"></td>
                <td class="column100 column3" data-column="column3"></td>
                <td class="column100 column4" data-column="column4"></td>
            </tr>
        </tbody>
    </table>
</div>

<script src="../../js/parseXML.js"></script> 
<script src="../../js/tables.js"></script> 
<script src="../../js/szablony/caseData.js"></script> 
<script>
//   console.log(case_xml);
</script>